<!DOCTYPE html>
<html>
    <head>
        <title>Circle Vue Project</title>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <div id="app" v-cloak>
            <div v-if="name.length == 0">
                <label>Enter Your name</label>
                <input type="text" v-model.lazy="name">
            </div>
            <div v-else>
                <h1>Welcome to Circle Game {{ name }}.</h1>
            </div>

            <div v-show = "name.length !== 0" class="game-box">
                <div class="play-area">
                    <label>Select BackGround Color of the Circle</label>
                    <select v-model="circleColor">
                        <option value="greenyellow" selected>Light Green</option>
                        <option value="red">Red</option>
                        <option value="blue">Blue</option>
                        <option value="purple">Purple</option> 
                        <option value="blue">Blue</option>
                        <option value="yellow">yellow</option>
                    </select>

                    <br>

                    <label>Select colour for the Name inside the circle</label>
                    <select v-model="textColor">
                        <option value="black" selected>Black</option>
                        <option value="red">Red</option>
                        <option value="blue">Blue</option>
                        <option value="purple">Purple</option> 
                        <option value="blue">Blue</option>
                        <option value="yellow">yellow</option>
                        <option value="white">White</option>
                    </select>

                    <br>

                    <label>Size of the Cicle :- {{size}} px</label><br>
                    <input type="range" min="100" max="500" v-model="size"><br>

                    <lable>Font Size :- {{fontSize}} px</lable><br>
                    <input type="range" min="20" max="150" v-model="fontSize"><br>

                    <label> Give Rotation Degree :- {{degree}} </label><br>
                    <input type="range" min="-180" max="180" v-model="degree"><br>

                    <label>Show Border</label>
                    <input type="checkbox" v-model="isBordered">


                </div>
                <div class="circle" :style="[selectedCircleColor, selectedTextColor ,circleSize,selectedFontSize,rotationDegree]"
                    :class="borderClass">
                    {{ name }}
                </div>
            </div>

            

        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="app.js"></script>
    </body>
</html>